.input-title {
    width: 100%;
}

.input-title,
.input-title:hover,
.input-title:focus,
.input-title:focus-within,
.input-title:focus-visible {
    border: 0;
    outline: 0;
}
.notes-list.list-group>.list-group-item {
    /* border: 0; */
}

.notes-list.list-group>.list-group-item .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notes-list.list-group>.list-group-item.active-light {
    color: #000;
    background-color: #e9ecef;
    /* Bootstrap 的 bg-light 颜色 */
    border-color: #f8f9fa;
}