.input-title {
    width: 100%;
}

.input-title,
.input-title:hover,
.input-title:focus,
.input-title:focus-within,
.input-title:focus-visible {
    border: 0;
    outline: 0;
}
.notes-list.list-group>.list-group-item {
    /* border: 0; */
}

.notes-list.list-group>.list-group-item .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}