html,
body {
    height: 100%;
}
  .input-title {
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}
.input-title,
.input-title:hover,
.input-title:focus,
.input-title:focus-within,
.input-title:focus-visible {
    border: 0;
    outline: 0;
}

.notes-list.list-group>.list-group-item .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notes-list.list-group>.list-group-item.active-light {
    color: #000;
    background-color: #e9ecef;
    /* Bootstrap 的 bg-light 颜色 */
    border-color: #f8f9fa;
}
.footer {
    background-color: #f8f9fa;
}

.footer .social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #495057;
}
body>.offcanvas .navbar-nav a {
    margin: 10px;
}
#siderbar-dragger {
    width: 7px;
    cursor: ew-resize;
    background-color: transparent;
    opacity: 0;
}

#siderbar-dragger:hover {
    opacity: 1;
}